/* ========================================================================== */
/* Active Form
========================================================================== */
.help-block:empty {
    display: none;
}
.has-error .form-control {
    border-color: #dc8d99!important;
    background-color: #fff7f8!important;
    color: #d85030!important;
}
.has-error .help-block {
    color: #d85030!important;
}
.has-success .form-control {
    border-color: #8ec73b!important;
    background-color: #fafff2!important;
    color: #659f13!important;
}
.has-success .help-block {
    color: #659f13!important;
}
